# Ignore environment files
.env

# Ignore system files
.DS_Store # For macOS

# Ignore executables
main
*.exe
*.out

# Ignore node modules
node_modules

# Ignore .jpg and .txt files in goDatabase folder
goDatabase/*.txt
goDatabase/*.jpg

# Ignore compiled Python files in __pycache__ directories
pythonFacialRec/__pycache__/
*.pyc
