.env
.DS_Store # For macOS
# Ignore executables
main
*.exe
*.out
node_modules

#IGNORING THE .JPG AND .TXT IN GODATABASE FOLDER
goDatabase/*.txt
goDatabase/*.jpg

pythonFacialRec/__pycache__/databaseFunctions.cpython-310.pyc
pythonFacialRec/__pycache__/facialFunctions.cpython-310.pyc
