body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
}

#countdown {
    font-size: 2em;
    margin-top: 20px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

#video,
#analysisImage {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

#analysisImage {
    display: none;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    background-color: #28a745;
    color: white;
    border: none;
    outline: none;
    margin: 0 10px;
}

button:active {
    background-color: #218838;
}

button#snapshotButton {
    background-color: #17a2b8;
}

button#snapshotButton:active {
    background-color: #138496;
}

#processMessage {
    font-size: 1.8em;
}

#snapshotMessage {
    margin: 15px 0;
}

@media (max-width: 1280px) {
    .video-container {
        flex-direction: column;
    }

    #video,
    #analysisImage {
        width: 90%;
        height: auto;
    }
}

body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-mode header {
    background-color: #555;
}

body.dark-mode button {
    background-color: #666;
    color: #fff;
}

body.dark-mode button:active {
    background-color: #555;
}

body.dark-mode #video,
body.dark-mode #analysisImage {
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}